@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bell_num div p{font-size: 18px;font-family: 'Bebas Neue', cursive;}
.bell_num p {font-size: 48px;font-family: 'Bebas Neue', cursive;}

html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td, button {
	margin:0;
	padding:0;
  	font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
	letter-spacing:normal;
 	font-family: 'Noto Sans KR', sans-serif;
}

fieldset, img, abbr,acronym { border:0 none; }

ol, ul { list-style:none; }

table {
	border-collapse: separate;
	border-spacing:0;
	border:0 none;
}
caption, th, td {
	text-align:left;
	font-weight: normal;
	border:0;
}

address, caption, strong, em, cite {
	font-weight:normal;
	font-style:normal;
}
ins { text-decoration:none; }
del { text-decoration:line-through; }

blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }

hr { display:none; }

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, video { /*max-width:100%;*/ border:0; vertical-align:top; }
audio, canvas, video { display:inline-block; *display:inline; *zoom: 1; }

* { margin:0; padding:0; border:0; outline:0; vertical-align:top; box-sizing:border-box; }
ul, ol, dl { list-style:none; }
a { vertical-align:top; text-decoration:none; color:inherit; }
table { border-collapse:collapse; border-spacing:0; }
input, select, label { vertical-align:middle; 	font-family: 'Noto Sans KR', sans-serif;}
button, input, select, textarea { margin:0; vertical-align:baseline; *vertical-align:middle;font-weight:normal;letter-spacing:normal;}
button, input { line-height:normal;}
button, select { text-transform:none; }
button{background: none;}

select {
     -webkit-appearance: none;/* 네이티브 외형 감추기*/
     -moz-appearance: none;
     appearance: none;
    font-weight:normal;letter-spacing:normal;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
input[type=text]::-ms-clear{
   display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor: pointer; *overflow:visible; }

textarea { overflow:auto; vertical-align:top; resize:none}

html,body{height:100%;}
address{font-style:normal;}

button, input, select, textarea { font-weight: normal;font-style: normal;font-family: 'Noto Sans KR', sans-serif; font-weight:normal;font-style: normal;}

body { width: 100%;font-family: 'Noto Sans KR', sans-serif; font-weight:normal;font-style: normal; background-color:#ffffff;}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
	display: none;
}

/********** PC **********/
/*****공통*****/
.pc-br{display: block;}
.mob-br{display: none;}

/********** 모바일 **********/
@media all and (max-width:1024px){
    .pc-br{display: none;}
    .mob-br{display: block;}
	/*****공통*****/
}